// Colours
$black: #000;
$burning-orange: #ff6e40;
$cod-gray: #181818;
$gray: #888;
$mine-shaft: #363636;
$nobel: #b5b5b5;
$white: #fff;

// Easing
$ease-in-out-cubic: cubic-bezier(.65, .05, .36, 1);

// Sizes
$site-min-width: 320px;

// Z-Index
$z-session-nav: 50;
$z-pov-thumb: $z-session-nav + 1;
