.share-modal {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  white-space: nowrap;

  ul {
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  li {
    @include rem(padding, 0 30px);
    display: inline-block;
    opacity: 0;
    transform: scale(.5);
    transition-duration: 0.15s;
    transition-property: opacity, transform;
    transition-timing-function: $ease-in-out-cubic;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(1) {
      transition-delay: 0;
    }

    &:nth-child(2) {
      transition-delay: .1s;
    }

    &:nth-child(3) {
      transition-delay: .2s;
    }

    img {
      @include rem(height, 30px);
      vertical-align: middle;

      @include respond-up(sm) {
        @include rem(height, 40px);
      }
    }
  }

  &.before-visible {
    display: block;
    opacity: 0;
  }
}

.share-modal.is-visible {
  opacity: 1;

  li {
    opacity: 1;
    transform: scale(1);
  }
}
